# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Logs
*.log

# Dependency directories
lib/
libs/
Library/
bin/
build/
dist/
node_modules/
bower_components/

# Compiled files
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.exe
*.out
*.app

# Miscellaneous
*.swp
*.bak
*.tmp
*.tmp.*
*~
*.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
